@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* noonnu font */
@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Noto Sans KR", sans-serif;
}

li, li a {
    list-style: none;
}

a {
    color: #000;
}

button,input {
    overflow: visible;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: 0 0;
}

/* 본문 영역 스타일 */
.contents {
    clear: both;
    min-height: 100vh;
    background-image: url("${path}/img/login.jpg");
    background-repeat: no-repeat;
    background-position: center -250px;
}

.contents::after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

.page {
    clear: both;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.page::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page_wrap {
    clear: both;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.page_tit {
    font-size: 48px;
    text-align: center;
    padding-top: 0.7em;
    color: #fff;
    padding-bottom: 1.3em;
}

.breadcrumb {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    color: #fff;
    padding-top: 28px;
}

.breadcrumb a {
    color: #fff;
}

.frm {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.tb1 {
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 0 20px;
    background-color: #e1e1e1;
    border-radius: 14px;

}

.tb1 th {
    width: 180px;
    line-height: 30px;

    padding-left: 70px;
    border-right: 2px solid #6b6b6b;

    box-sizing: border-box;
    text-align: left;
}

.tb1 .data {
    width: 320px;
    line-height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    /*border-bottom: 1px solid #333; */
    box-sizing: border-box;
    text-align: left;
    padding-left: 90px;
}

.tb2 {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.inbtn {
    display: block;
    border-radius: 10px;
    min-width: 120px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    line-height: 38px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.inbtn:first-child {
    float: left;
}

.inbtn:last-child {
    float: right;
}

.inbtn:hover {
    background-color: #666666;
}

.my-page {
    width: 43vw;
    min-width: 600px;
    margin: 100px auto;
    margin-bottom: 200px;
    padding-top: 50px;
}

.my-page__title {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 83px;
    text-align: center;
}

.my-page__profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.my-page-profile__image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 45px;
}

.my-page-profile__nickname {
    display: block;
    font-weight: 700;
    font-size: 22px;
}

.my-transaction-info {
    margin-top: 24px;
    margin-right: 12px;
    width: 23vw;
}

.my-transaction-info__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 260px;
}

.my-transaction-info__title {
    font-weight: 400;
    font-size: 22px;
    display: block;
    margin-bottom: 24px;
}

.my-transaction-info__content {
    font-weight: 700;
    font-size: 26px;
}

.my-page__introduction {
    margin-top: 19px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 22px;
    min-height: 72px;
    max-height: 170px;
    overflow-y: scroll;
}

.my-page__edit-buttons {
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-profile-edit,
.my-info-edit {
    font-weight: 700;
    font-size: 19px;
    height: 57px;
    border-radius: 5px;
    cursor: pointer;
}

.my-profile-edit:active,
.my-info-edit:active {
    opacity: 0.7;
}

.my-profile-edit {
    width: 27vw;
    border: 2px solid #4751FD;
    background-color: white;
    color: #4751FD;
    min-width: 310px;
}

.my-info-edit {
    width: 13.9vw;
    margin-right: 14px;
    border: none;
    background-color: #EFEFEF;
    color: #444444;
    min-width: 220px;
}

.transaction-history {
    width: 100%;
    border: 2px solid #000;
    display: flex;
    border-radius: 5px;
}

.transaction-history__sale,
.transaction-history__purchase {
    width: 50%;
    font-weight: 700;
    font-size: 22px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.transaction-history__sale:active,
.transaction-history__purchase:active {
    opacity: 0.7;
}

.transaction-history__sale {
    border-right: 2px solid #000;
}