/* sidebar */
.mypage-base .sidebar {
    width: 200px;
}
.mypage-base .sidebar .header {
    height: 75px;
    padding: 250px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}

.mypage-base .sidebar ul {
    border: 1px solid rgb(242, 242, 242);
}

.mypage-base .sidebar ul li a {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 14px 20px 16px;

    font-size: 14px;
    color: rgb(102, 102, 102);

    line-height: 19px;
    letter-spacing: -0.3px;
    text-decoration: none;

    cursor: pointer;
}

.mypage-base .sidebar .mypage-inquiry {
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: rgb(250, 250, 250);
    line-height: 20px;

    color: rgb(51, 51, 51);
}

.mypage-base .sidebar .mypage-inquiry div .ask-help {
    font-weight: 500;
}

.mypage-base .sidebar .mypage-inquiry div span:last-child {
    font-size: 12px;
}

.mypage-base .sidebar ul li a:hover,
.mypage-base .sidebar ul li a.active {
    background-color: rgb(250, 250, 250);
    color: var(--primary-color);
    font-weight: 500;
}

.content-wrap{
    margin-right: 200px;

}
