.check-pwd-content h4 {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
}

.check-pwd-content p {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: rgb(102, 102, 102);
}

.check-pwd-content .check-pwd-form .center-padding {
    padding: 20px 80px;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.check-pwd-form .center-padding .input-line {
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}

.check-pwd-form .center-padding .input-label {
    width: 139px;
    padding-top: 12px;
}

.check-pwd-form .center-padding .input-line .input-label label span {
    color: rgb(238, 106, 123);
}

.check-pwd-form .center-padding .input {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;

    display: flex;
    color: #333333;
}

.check-pwd-form .center-padding .input-line .input input {
    width: 100%;
}

.check-pwd-form .button-box {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.check-pwd-form .button-box button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 56px;
    border-radius: 3px;
    /*color: rgb(255, 255, 255);*/
   /* background-color: var(--primary-color);*/
    border: 0px none;

    font-size: 16px;
}

.check-pwd-form .button-box #withdraw {
    border: 1px solid black;
    color: black;
    background: white;
}

.check-pwd-form .button-box #return {
    border: 1px solid black;
    color: black;
    background: white;
}