@charset "utf-8";

/* 스타일 사용자 정의 초기화 */
body, html {
    width: 100%;
    font-family: 'NanumSquare';
    overflow-x: hidden;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: 0;
}

.wrap {
    clear: both;
    width: 100%;
}

.wrap::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}