<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardTea">
    <!-- 공지사항 목록 -->
    <select id="boardList" resultType="kr.co.teaspoon.dto.Board">
        select * from board_tea where lev = 0 order by resdate asc
    </select>
    <!-- 글 상세보기 -->
    <select id="boardDetail" resultType="kr.co.teaspoon.dto.Board">
        select * from board_tea where bno=#{bno}
    </select>
    <!-- 글 수 카운트 -->
    <select id="totalCount" resultType="integer" >
        select count(*) from board_tea
    </select>
    <insert id="boardInsert">
        INSERT INTO board_tea(title, content, author) VALUES(#{title}, #{content}, #{author})
    </insert>
    <delete id="boardDelete">
        delete from board_tea where bno=#{bno}
    </delete>
    <!-- 자유게시판 수정 -->
    <update id="boardEdit">
        update board_tea set title=#{title}, content=#{content} where bno=#{bno}
    </update>
    <!-- 조회수 증가 -->
    <update id="countUp">
        update board_tea set cnt=cnt+1 where bno=#{bno}
    </update>
    <!-- 댓글 입력 -->
    <insert id="commentInsert">
        insert into board_tea(title, content, author, lev, par) values ('댓글', #{content}, #{author}, 1, #{bno})
    </insert>
    <!-- 댓글 목록 출력 -->
    <select id="commentList" resultType="kr.co.teaspoon.dto.Board">
        select * from board_tea where par = #{bno} and lev = 1 order by resdate desc
    </select>
    <!-- 모든 댓글 삭제 -->
    <delete id="commentDeleteAll">
        delete from board_tea where par=#{bno}
    </delete>
    <!-- 모든 댓글 목록 -->
    <select id="allCommentList" resultType="kr.co.teaspoon.dto.Board">
        select * from board_tea where lev = 1 order by resdate desc
    </select>
    <!--    신고 기능 reportBoard-->
    <insert id="reportBoard">
        insert into report_tea values (default, #{board_bno}, #{reporter}, #{reason}, default)
    </insert>
    <select id="checkReported" resultType="integer" >
        SELECT COUNT(*) FROM report_tea WHERE board_bno = #{board_bno} AND reporter = #{reporter}
    </select>
    <select id="boardReportList" resultType="kr.co.teaspoon.dto.Board">
        SELECT
            b.*,
            r.reason,
            r.report_date,
            sub.report_count
        FROM
            (SELECT board_bno, COUNT(board_bno) as report_count FROM report_tea GROUP BY board_bno) AS sub
                JOIN
            report_tea r ON sub.board_bno = r.board_bno
                JOIN
            board_tea b ON r.board_bno = b.bno
        ORDER BY
            r.report_date DESC;
    </select>
</mapper>