<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
    <select id="getSchool" resultType="kr.co.teaspoon.dto.Menu">
        SELECT * FROM school WHERE sc_name LIKE #{sc_name} limit 1
    </select>
</mapper>